#box{
    background-color: rgb(134, 134, 239);
}
#signin{
    background-color: rgb(222, 219, 225);
    width:290px;
    height:30vh;
    margin: auto;
    margin-top: 190px;
    text-align: center;
    border-radius: 10px;
    border-style: double;
    border-color: aqua;
}
.submit{
    border-color: rgb(13, 58, 43);
    margin-right: 30px;
    background-color: blanchedalmond;
}
#reset{
    border-color:  rgb(13, 58, 43);
    background-color: blanchedalmond;
    
}
